@font-face {
  font-family: "DM Sans";
  src: url("../../assets/fonts/DM_Sans/DMSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "DM Sans";
  src: url("../../assets/fonts/DM_Sans/DMSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "DM Sans";
  src: url("../../assets/fonts/DM_Sans/DMSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Merriweather";
  src: url("../../assets/fonts/Merriweather/Merriweather-Light.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Merriweather";
  src: url("../../assets/fonts/Merriweather/Merriweather-Regular.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Merriweather";
  src: url("../../assets/fonts/Merriweather/Merriweather-Bold.ttf");
  font-weight: 700;
}
